{% extends 'cbv_base.html' %}

{% block title %}{{ todo.title }}{% endblock %}

{# 헤드라인: 할 일 작성 #}
{% block headline %}
    <a class="text-decoration-none text-white" href="{% url 'cbv_todo:create' %}">작성</a>
{% endblock %}

{% block content %}
    <h1 style="display: inline; margin: 10px">{{ todo.title }}</h1>{{ object.author }}

{# 수정 버튼 #}
    <div style="text-align: right;" class="mb-2">
        {% if request.user == object.author or request.user.is_superuser %}
            <a class="btn btn-sm btn-warning" href="{% url 'cbv_todo:update' todo_id=todo.id %}">수정</a>
        {% endif %}

{# 삭제 버튼 #}
        <form id="delete_form" action="{% url 'cbv_todo:delete' todo_id=todo.id %}" method="POST" style="display: inline">
            {% csrf_token %}
            <button id="delete_btn" class="delete_btn btn btn-sm btn-danger" type="button">삭제</button>
        </form>
    </div>

{# 할 일 상세 정보 #}
    <div class="card shadow-sm mb-4">
        <p class="ms-2 mt-2">할일: {{todo.title}}</p>
        <p class="ms-2 mt-2">상세: {{ todo.description }}</p>
        <p class="ms-2 mt-2">수행여부:
            {% if todo.is_completed == False %}
                 X
            {% else %}
                 O
            {% endif %}
        </p>
        <p class="ms-2 mt-2">시작날짜: {{ todo.start_date }}</p>
        <p class="ms-2 mt-2">종료날짜: {{ todo.end_date }}</p>
    </div>
    <br>
{# 댓글 작성란 #}
    <h3 class="pb-2 mb-3 text-primary">댓글</h3>
    <form action="{% url 'cbv_todo:comment_create' todo_id=todo.id %}" method="post">
        {% csrf_token %}
        {{ comment_create_form.as_p }}
        <div class="text-end">
            <button class="btn btn-primary">댓글</button>
        </div>
    </form>
    <br><hr>


{# 댓글 목록 #}
    {% for comment in page_obj %}
    {# 수정 버튼을 누른 경우 #}
        {% if comment.id|stringformat:"s" == request.GET.update_cmt %}

        {# 작성자 #}
            <div class="d-flex justify-content-between mb-2">
                <p class="fw-bold">{{ comment.user }}</p>
        {# 저장 버튼 #}
                <div class="d-flex">
                    <button class="btn btn-sm btn-light" type="submit" form="comment_update_form_{{ comment.id }}">저장</button>
        {# 삭제 버튼 #}
                    <form method="post" action="{% url 'cbv_todo:comment_delete' pk=comment.id %}">
                        {% csrf_token %}
                        <button class="btn btn-sm btn-light">삭제</button>
                    </form>
                </div>
            </div>
        {# 수정 form #}
            <form id="comment_update_form_{{ comment.id }}" method="POST" action="{% url 'cbv_todo:comment_update' pk=comment.id %}">
                {% csrf_token %}
                {{ comment_update_form.as_p }}
            </form>
        {# 댓글 생성 날짜 #}
            <div class="text-end text-muted small">
                 <p>{{ comment.created_at }}</p>
            </div>
            <hr>

    {# 수정 버튼 안 누른 경우 #}
        {% else %}

            <div class="d-flex justify-content-between mb-2">
            {# 작성자 #}
                <p class="fw-bold">{{ comment.user }}</p>
            {# 수정 버튼 #}
                <div class="d-flex">
                    <a class="text-decoration-none text-dark small me-3 text-muted" href="?page={{ page_obj.number }}&update_cmt={{ comment.id }}">수정</a>
                    <form method="post" action="{% url 'cbv_todo:comment_delete' pk=comment.id %}">
                        {% csrf_token %}
                        <button class="btn btn-sm btn-light">삭제</button>
                    </form>
                </div>
            </div>
            {# 댓글 내용 #}
            <p>{{ comment.message }}</p>
            {# 생성 날짜 #}
            <div class="text-end text-muted small">
                 <p>{{ comment.created_at }}</p>
            </div>
            <hr>
        {% endif %}
    {% endfor %}

{# 페이지네이션 #}
    {% include 'pagination.html' %}
{% endblock %}

{# js #}
{% block js %}
    <script>
        document.querySelector('#delete_btn').addEventListener('click', function() {
            if(confirm('삭제하시겠습니까?')) {
                document.querySelector('#delete_form').submit();
            }
        })
    </script>
{% endblock %}


