{% extends 'cbv_base.html' %}

{% block title %}할 일{% endblock %}

{# 할 일 작성 #}
{% block headline %}
    <a class="text-decoration-none text-white" href="{% url 'cbv_todo:create' %}">작성</a>
{% endblock %}

{# content 블럭 #}
{% block content %}
    <h1>할 일 목록</h1>

{# 생성 버튼 #}
    <div class="d-flex justify-content-end">
        <a href="{% url 'cbv_todo:create' %}" class="btn btn-sm btn-primary">생성</a>
    </div>

{# 할 일 목록 #}
    <ul>
        {% for todo in page_obj %}
            <li style="margin-bottom: 10px">
                <a href=" {% url 'cbv_todo:info' todo_id=todo.id %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                    ({{ todo.id }}){{ todo.title }}<span>({{ todo.user.username }})</span> - {{ todo.created_at | date:"Y-m-d" }}
                </a>
            </li>
        {% endfor %}
    </ul>

{# 검색창 #}
    <form method="GET" class="mt-4 mb-3 d-flex ms-3">
        <input class="form-control-sm" name="q" type="text" placeholder="검색어를 입력하세요" value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}">
        <button class="btn btn-sm btn-info ms-2">검색</button>
    </form>

{# 페이지네이션 #}
    {% include 'pagination.html' %}
{% endblock %}

