{% extends 'cbv_base.html' %}

{% block title %}할 일 수정{% endblock %}

{% block headline %}
    {% if sub_title == '수정' %}
        <a class="text-decoration-none text-white" href="{% url 'cbv_todo:info' todo_id=todo.pk %}">이전으로</a>
    {% endif %}
{% endblock %}

{% block login %}{% endblock %}

{% block content %}
    <h2>{{ sub_title }}</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button>{{ btn_name }}</button>
    </form>
{% endblock %}

{% block js %}
    {% include 'form-js.html' %}
{% endblock %}