<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
    <nav>
        <div style="display: flex">
            <a href="{% url 'todos:todo_list' %}">홈</a>&nbsp;&nbsp;
            {% block headline %}{% endblock %}
        </div>
        {% block login %}
            <div style="text-align: right">
                <a href="{% url 'users:signup' %}">회원가입</a>
                {% if request.user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <button>로그아웃</button>
                    </form>
                    {{ request.user.username }}
                {% else %}
                    <a href="{% url 'login' %}">로그인</a>
                {% endif %}
            </div>
        {% endblock %}
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>